/*
 *******HEADER*******
 */

html, body
{
    margin: 0;
    padding: 0;
    background: black;
}

nav
{
    top: 21px;
    z-index: 10;
    position: relative;
    width: 100%;
    text-align: center;
}

nav .link
{
    padding: 15px;
    border-radius: 10px;
    margin: 0 3%;
    background: black;
    display: inline-block;
    width: 144px;
}

.link a
{
    color: white;
    text-decoration: none;
}

.page1
{
    position: relative;
    top: -72px;
    background: url(img/accueil.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 697px;
    font-size: 1.4em;
}

.page1 .punchline
{
    padding-top: 18%;
}

.text
{
    color: white;
    text-align: center;
}
.logo
{
    width: 800px;
}

.divlogo
{
    background-color: black;
    text-align: center;
}

.search
{
    width: 60px;
    height: auto;
    float: right;
    z-index: 100;
    position: relative;
    top: -80px;
    right: 32px;
}

.bot
{
    height: 200px;
    position: relative;
    width: auto;
    left: 80px;
    top: 50px;
}

/*
 *******page 2*******
 */
.page2
{
}



/*
 *******page 5*******
 */
.page5
{

}

.faq
{
	width: 600px;
	float: right;
}
.textposition
{
	
}