/*
	*******HEADER*******
 */

html, body 
{
margin: 0;
padding: 0;
}

.page1
{
	background: url(img/accueil.jpg);
}

.text 
{
	color: white;
	text-align: center;
}
.logo
{
	width: 800px;
}

.divlogo
{
	background-color: black;
	text-align: center;
}

.back
{
	height: 494px;
	width: 800px;
	margin-top: 21.5px;
}